{{extend "layout.html"}}

{{try:}}
	{{=H2(T("User Roles"))}}
{{except:}}
	{{pass}}

<div id='rheader'>
{{try:}}
	{{=XML(rheader)}}
</div>
<div id='component'>
{{except:}}
<div>
{{pass}}

<style type="text/css">
	#component table {
		background-color: white;
	}
	#component th,
	#component td {
		border:1px solid #ccc;
		padding:0.5em;
		white-space: nowrap;
	}

	#component th {
		font-weight:bold;
		background-color: #E2E4FF;
	}

	#component caption {
		font-weight: bold;
		white-space: nowrap;
		padding: 0.5em 0;
	}
</style>

<!-- one table containing all users with assigned roles -->
{{if globals().get("form", False):}}
	{{=form.custom.begin}}
{{pass}}
<table>
	<caption>Assigned Roles</caption>
	<thead>
		<tr>
			<th>{{=target_object_label}}</th>
			<th>Module</th>
			<th>Access Level</th>
		</tr>
	</thead>
	{{if globals().get("assigned_roles", False) and not globals().get("target_object", False):}}
		{{for object_id, object_roles in assigned_roles.items():}}
			<tbody>
				{{first_row = True}}
				{{for role in object_roles:}}
					<tr>
						{{if first_row:}}
							{{first_row = False}}
							<td rowspan="{{=len(object_roles)}}"><a href="?edit={{=object_id}}" title="Edit roles for {{=names[object_id]}}">{{=names[object_id]}}</a></td>
						{{pass}}
						<td>{{=roles[role]["module"]["label"]}}</td>
						<td>{{=roles[role]["acl"]["label"]}}</td>
					</tr>
				{{pass}}
			</tbody>
		{{pass}}
	{{pass}}
	<!-- regular table form for assigning roles to a user -->
	{{if globals().get("form", False):}}
		<tbody>
			{{include "admin/_role_form.html"}}
		</tbody>
	{{pass}}
</table>

{{if globals().get("form", False):}}
	{{=form.custom.end}}
{{pass}}