{{extend "layout.html"}}

<script src="/eden/static/scripts/jqtree/tree.jquery.js"></script>
<script src="/eden/static/scripts/S3/jquery.ui.selectable.js"></script>
<script src="/eden/static/scripts/S3/jquery.ui.button.js"></script>
<script src="/eden/static/scripts/S3/jquery.ui.menu.js"></script>
<script src="/eden/static/scripts/S3/jquery.ui.position.js"></script>
<script src="/eden/static/scripts/S3/jquery.ui.popup.js"></script>
<script src="/eden/static/scripts/S3/s3.orghierarchy.js"></script>
<script src="/eden/static/scripts/S3/s3.orghierarchywidget.js"></script>
<script src="/eden/static/scripts/jquery-drill-down-menu-plugin/js/jquery.dcdrilldown.1.2.js"></script>

{{=H2("Test")}}

<style>
	button.ui-button-icons-only {
		width: 3em;
	}
	.ui-button-icons-only .ui-button-text {
		padding: 2px;
	}
	#tree1 ul {
		list-style-type: none;
		position: relative;
		margin: 0;
		padding: 0;
		width: 20em;
		border: 1px solid blue;
	}
	#tree1 ul ul {
		position: absolute;
		left: 20em;
		top: -1px;
		display: none;
	}
	#tree1 .ui-selected {
		background-color: #F39814;
	}
	#tree1 .ui-selected > ul {
		display: block;
	}


	#tree2 .ui-selected > .label { background-color: #F39814; }
	#tree2 .label { display:block; padding: 0.4em; }

	.tree .ui-selected > .label { color: white; }
	.tree .ui-selected > ul {display: block;}

	.tree ul { display: none;}

	.tree, .tree ul { margin: 0; padding: 0}
	.tree li {
		border: 1px solid rgb(221, 221, 221);
		margin: 3px;
	}

	.item-header {
		position: relative;
		padding:0.4em;
	}

	.tree-button {
		width: 16px;
		height: 16px;
		display: block;
		float: right;
	}
	.tree-button-expand {
		background: transparent url(/eden/static/img/silk/folder_go.png) center no-repeat;
	}
	.ui-selected > div .tree-button-expand {
		background-image: url(/eden/static/img/silk/folder.png);
	}
	/*.tree-button-add {
		background-image: url(/eden/static/img/silk/add.png);
	}*/
	.tree-button-delete {
		background-image: url(/eden/static/img/silk/delete.png);
	}
	#options-menu {
		position: absolute;
		display: none;
		z-index: 999;
	}

	#panel-container {
		height: 30em;
		overflow: auto;
		width: auto;
		position: relative;
	}
	.panel {
		width: 20em;
		height: 28em;
		position: absolute;
		border: 1px solid #bbb;
	}
	.panel-toolbar {
		text-align: right;
	}
	.panel-list {
		position: absolute;
		overflow-y: scroll;
		top: 3em;
		right: 0;
		bottom: 0;
		left: 0;
	}
	.panel ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	.panel li {
		border: 1px solid rgb(221, 221, 221);
		margin: 3px;
		padding: 0.4em;
	}
	.panel .ui-selected {
		background-color: #F39814;
	}
	#panel-template {
		display: none;
	}
</style>

<style>
    @import url(/eden/static/scripts/jquery-drill-down-menu-plugin/css/dcdrilldown.css);
</style>

<ul id="options-menu">
	<li><a href="#add">Add new item</a></li>
	<li><a href="#delete">Remove selected item</a></li>
</ul>

<div id="panel-template" class="panel">
	<div class="panel-toolbar">
		<button class="options-button">Options</button>
	</div>
	<div class="panel-list">
	</div>
</div>

<div id="panel-container">
<!--
	<div id="panel-1" class="panel">
		<div class="panel-toolbar">
			<button class="options-button">Options</button>
		</div>
		<div class="panel-list">
			<ul>
				<li>Foo</li>
				<li>Foo</li>
				<li>Foo</li>
			</ul>
		</div>
	</div>
	<div id="panel-2" class="panel">
		<div class="panel-toolbar">
			<button class="options-button">Options</button>
		</div>
		<div class="panel-list">
			<ul>
				<li>Bar</li>
				<li>Bar</li>
				<li>Bar</li>
				<li>Bar</li>
				<li>Bar</li>
				<li>Bar</li>
				<li>Bar</li>
				<li>Bar</li>
				<li>Bar</li>
				<li>Bar</li>
				<li>Bar</li>
				<li>Bar</li>
				<li>Bar</li>
				<li>Bar</li>
				<li>Bar</li>
			</ul>
		</div>
	</div>

	<div id="panel-3" class="panel">
		<div class="panel-toolbar">
			<button class="options-button">Options</button>
		</div>
		<div class="panel-list">
			<ul>
				<li>Tee</li>
				<li>Tee</li>
				<li>Tee</li>
				<li>Tee</li>
				<li>Tee</li>
				<li>Tee</li>
				<li>Tee</li>
			</ul>
		</div>
	</div>
-->
</div>

<hr style="clear:both">

<ul id="drilldown-3">
	<li>
		<a>Foo</a>
		<ul>
			<li>
				<a>Bar</a>
				<ul>
					<li><i>empty</i></li>
				</ul>
			</li>
			<li>
				<a>Bar</a>
				<ul>
					<li>
						<a>Dob</a>
						<ul>
							<li><i>empty</i></li>
						</ul>
					</li>
					<li>
						<a>Dob</a>
						<ul>
							<li><i>empty</i></li>
						</ul>
					</li>
					<li>
						<a>Dob</a>
						<ul>
							<li><i>empty</i></li>
						</ul>
					</li>
					<li>
						<a>Dob</a>
						<ul>
							<li><i>empty</i></li>
						</ul>
					</li>
					<li>
						<a>Dob</a>
						<ul>
							<li><i>empty</i></li>
						</ul>
					</li>
					<li>
						<a>Dob</a>
						<ul>
							<li><i>empty</i></li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</li>
	<li>
		<a>Foo</a>
		<ul>
			<li><i>empty</i></li>
		</ul>
	</li>
	<li>
		<a>Foo</a>
		<ul>
			<li><i>empty</i></li>
		</ul>
	</li>
</ul>

<hr>

<div id="tree1">
<ul>
	<li class="selectable">
		<div class="item-header">
			<span class="label">Foo</span>
			<span class="controls">
				<a class="tree-button tree-button-expand"></a>
				<a class="tree-button tree-button-add"></a>
				<a class="tree-button tree-button-delete"></a>
			</span>
		</div>
		<ul>
			<li class="selectable">
				<div class="item-header">
					<span class="label">Bar</span>
					<span class="controls">
						<a class="tree-button tree-button-expand"></a>
						<a class="tree-button tree-button-add"></a>
						<a class="tree-button tree-button-delete"></a>
					</span>
				</div>
				<ul>
					<li><i>empty</i></li>
				</ul>
			</li>
			<li>
				<div class="item-header">
					<span class="label">Bar</span>
					<span class="controls">
						<a class="tree-button tree-button-expand"></a>
						<a class="tree-button tree-button-add"></a>
						<a class="tree-button tree-button-delete"></a>
					</span>
				</div>
				<ul>
					<li>
						<span class="label">Dob</span>
						<ul>
							<li><i>empty</i></li>
						</ul>
					</li>
					<li>
						<span class="label">Dob</span>
						<ul>
							<li><i>empty</i></li>
						</ul>
					</li>
					<li>
						<span class="label">Dob</span>
						<ul>
							<li><i>empty</i></li>
						</ul>
					</li>
					<li>
						<span class="label">Dob</span>
						<ul>
							<li><i>empty</i></li>
						</ul>
					</li>
					<li>
						<span class="label">Dob</span>
						<ul>
							<li><i>empty</i></li>
						</ul>
					</li>
					<li>
						<span class="label">Dob</span>
						<ul>
							<li><i>empty</i></li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</li>
	<li>
		<div class="item-header">
			<span class="label">Foo</span>
			<span class="controls">
				<a class="tree-button tree-button-expand"></a>
				<a class="tree-button tree-button-add"></a>
				<a class="tree-button tree-button-delete"></a>
			</span>
		</div>
		<ul>
			<li><i>empty</i></li>
		</ul>
	</li>
	<li>
		<div class="item-header">
			<span class="label">Foo</span>
			<span class="controls">
				<a class="tree-button tree-button-expand"></a>
				<a class="tree-button tree-button-add"></a>
				<a class="tree-button tree-button-delete"></a>
			</span>
		</div>
		<ul>
			<li><i>empty</i></li>
		</ul>
	</li>
</ul>
</div>

<hr style="clear:both">

<ol id="tree2" class="tree">
	<li><span class="label">Foo</span>
		<ul>
			<li><span class="label">Bar</span>
				<ul>
					<li><i>empty</i></li>
				</ul>
			</li>
			<li><span class="label">Bar</span>
				<ul>
					<li><span class="label">Bar</span>
						<ul>
							<li><i>empty</i></li>
						</ul>
					</li>
					<li><span class="label">Bar</span>
						<ul>
							<li><i>empty</i></li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</li>
	<li><span class="label">Foo</span>
		<ul>
			<li><i>empty</i></li>
		</ul>
	</li>
	<li><span class="label">Foo</span>
		<ul>
			<li><i>empty</i></li>
		</ul>
	</li>
</ul>

<br clear="both" />
